## Caddyfile

## Missing SSH 
# Eks https://caddy.community/t/l4-module-ssh-reverse-proxy-example/18371/2
# https://caddy.community/t/difference-between-caddy-l4-and-sslh/25382/4
# https://github.com/mholt/caddy-l4/pull/217

# Config

(cloudflare) {
        tls {
                dns cloudflare {{ cloudflare_api_token }}  
        }
}

(log) {
        output file /var/log/caddy/error.log
        format console
        level ERROR
}

(headers) {
        header {
                Permissions-Policy interest-cohort=()
                Strict-Transport-Security "max-age=31536000; includeSubdomains"
                X-XSS-Protection "1; mode=block"
                X-Content-Type-Options "nosniff"
                X-Robots-Tag noindex, nofollow
                X-Frame-Options "SAMEORIGIN"
                Referrer-Policy "same-origin"
                Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https:; style-src 'self' 'unsafe-inline' https:; img-src 'self' data: https: android-webview-video-poster:; font-src 'self' data: https:; media-src 'self' data: https: blob:; "
                Permissions-Policy "geolocation=(self 'https://amfelt.dk'), microphone=()"
        }
}

# Site Block

## intra_domain
intra.amfelt.dk {
        reverse_proxy http://192.168.30.151:3000
        import cloudflare
        log {
                output file /var/log/caddy/intra_access.log
        }
}

## www.intra.amfelt.dk
www.intra.amfelt.dk {
        reverse_proxy http://192.168.30.151:8001
        import cloudflare
        import headers
        log {
                output file /var/log/caddy/www_access.log
        }
}

## pihole pi1
pi1.intra.amfelt.dk {
        redir / /admin
        reverse_proxy https://192.168.30.101 {
                transport http {
                        tls_insecure_skip_verify
                }
        }
        import cloudflare
        log {
                output file /var/log/caddy/dns_access.log
        }
}

## pihole pi2
pi2.intra.amfelt.dk {
        redir / /admin
        reverse_proxy https://192.168.30.102 {
                transport http {
                        tls_insecure_skip_verify
                }
        }
        import cloudflare
        log {
                output file /var/log/caddy/dns_access.log
        }
}

## NAS at lan
nas.intra.amfelt.dk {
        reverse_proxy https://192.168.30.80:5001 {
                transport http {
                        tls_insecure_skip_verify
                }
        }
        import cloudflare
        log {
                output file /var/log/caddy/nas_access.log
        }
}

## proxmox pve
pve.intra.amfelt.dk {
        reverse_proxy https://192.168.30.30:8006 {
                transport http {
                        tls_insecure_skip_verify
                }
        }
        import cloudflare
        log {
                output file /var/log/caddy/pve_access.log
        }
}

## PBS at lan
PBS.intra.amfelt.dk {
        reverse_proxy https://192.168.30.200:8007 {
                transport http {
                        tls_insecure_skip_verify
                }
        }
        import cloudflare
        log {
                output file /var/log/caddy/pbs_access.log
        }
}

## UDR at lan
udr.intra.amfelt.dk {
        reverse_proxy https://192.168.1.1 {
                transport http {
                        tls_insecure_skip_verify
                }
        }
        import cloudflare
        log {
                output file /var/log/caddy/udr_access.log
        }
}

## Uptime-Kuma at lan
uptime.intra.amfelt.dk {
        reverse_proxy http://192.168.30.151:3001
        import cloudflare
        log {
                output file /var/log/caddy/uptime_access.log
        }
}

## PDF-Tools at lan
pdf.intra.amfelt.dk {
        reverse_proxy http://192.168.30.151:3100
        import cloudflare
        log {
                output file /var/log/caddy/pdf_access.log
        }
}

## IT-Tools at lan
ittools.intra.amfelt.dk {
        reverse_proxy http://192.168.30.151:3200
        import cloudflare
        log {
                output file /var/log/caddy/ittools_access.log
        }
}


## GIT
## lock at top to se how ssh is handled
git.intra.amfelt.dk {
        reverse_proxy http://192.168.30.104:3000
        import cloudflare
        log {
                output file /var/log/caddy/git_access.log
        }
}
