## Caddyfile

# Config

(cloudflare) {
        tls {
                dns cloudflare {{ cloudflare_api_token }}  
        }
}

(log) {
        output file /var/log/caddy/error.log
        format console
        level ERROR
}

(subdomain-log) {
	log {
		hostnames {args[0]}
		output file /var/log/caddy/{args[0]}.log
	}
}

{
        servers {             
                trusted_proxies cloudflare  
                client_ip_headers CF-Connecting-IP  
        }    
}




(headers) {
        header {
                Permissions-Policy interest-cohort=()
                Strict-Transport-Security "max-age=31536000; includeSubdomains"
                X-XSS-Protection "1; mode=block"
                X-Content-Type-Options "nosniff"
                X-Robots-Tag noindex, nofollow
                X-Frame-Options "SAMEORIGIN"
                Referrer-Policy "same-origin"
                Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https:; style-src 'self' 'unsafe-inline' https:; img-src 'self' data: https: android-webview-video-poster:; font-src 'self' data: https:; media-src 'self' data: https: blob:; "
                Permissions-Policy "geolocation=(self 'https://amfelt.dk'), microphone=()"
        }
}

{{ intra_domain }}  {
        reverse_proxy http://docker01.lan:3000
        import cloudflare
        log {
                output file /var/log/caddy/intra_access.log
        }
}

*.{{ intra_domain }}   {
	import cloudflare
        import subdomain-log www.{{ intra_domain }}
        import headers
	@www host www.{{ intra_domain }} 
	handle @www {
	        reverse_proxy http://docker01.lan:8001
                handle /.well-known/* {
                        abort
                }
	}

	@pi1 host pi1.{{ intra_domain }} 
        import subdomain-log pi1.{{ intra_domain }}
	handle @pi1 {
                redir / /admin
                reverse_proxy https://pi1.lan {
                        transport http {
                                tls_insecure_skip_verify
                        }
                }
        }

        @pi2 host pi2.{{ intra_domain }} 
	handle @pi2 {
                redir / /admin
                reverse_proxy https://pi2.lan {
                        transport http {
                                tls_insecure_skip_verify
                        }
                }
        }

        @nas host nas.{{ intra_domain }}
        handle @nas {        
                reverse_proxy https://nas.lan:5001 {
                        transport http {
                                tls_insecure_skip_verify
                        }
                }
        }

        @pve host pve.{{ intra_domain }}
        handle @pve { 
                reverse_proxy https://pve.lan:8006 {
                        transport http {
                                tls_insecure_skip_verify
                        }
                }
        }

        @pbs host pbs.{{ intra_domain }}
        handle @pbs { 
                reverse_proxy https://pbs.lan:8007 {
                        transport http {
                                tls_insecure_skip_verify
                        }
                }
        }

        @udr host udr.{{ intra_domain }}
        handle @udr { 
                reverse_proxy https://192.168.1.1 {
                        transport http {
                                tls_insecure_skip_verify
                        }
                }
        }

        @uptime host uptime.{{ intra_domain }}
        handle @uptime { 
                reverse_proxy http://docker01.lan:3001
        }
        
        @pdf host pdf.{{ intra_domain }}
        handle @pdf { 
                reverse_proxy http://docker01.lan:3100
        }

        @ittools host ittools.{{ intra_domain }}
        handle @ittools {
                reverse_proxy http://docker01.lan:3200
        }

        @git host git.{{ intra_domain }}
        handle @git {
                reverse_proxy http://git.lan:3000
        }

	# Fallback for otherwise unhandled domains
	handle {
		abort
	}

}
