## Caddyfile

(cloudflare) {
  tls {
    dns cloudflare {{ cloudflare_api_token }}
  }
}

(headers) {
  header {
    Permissions-Policy interest-cohort=()
    Strict-Transport-Security "max-age=31536000; includeSubdomains"
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Robots-Tag noindex, nofollow
    Referrer-Policy "same-origin"
    Content-Security-Policy "frame-ancestors {{ domain }} *.{{ intra_domain }}"
    -Server
    Permissions-Policy "geolocation=(self {{ domain }} *.{{ intra_domain }}), microphone=()"
  }
}

{
  log default {
    output file /var/log/caddy/access.log {
        roll_size 10mb
        roll_keep 20
        roll_keep_for 720h
    }
  }
}

# {{ intra_domain }}
{{ intra_domain }} {
  respond "{{ intra_domain }}"
}

# pihole
pi1.{{ intra_domain }} dns.{{ intra_domain }} {
  redir / /admin
  reverse_proxy http://192.168.30.101
  import cloudflare
}

## proxmox pve
pve.{{ intra_domain }} {
  reverse_proxy https://192.168.30.30:8006 {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}

## proxmox pve1
pve1.{{ intra_domain }} {
  reverse_proxy https://192.168.30.31:8006 {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}
