[Unit]
Description=Pi-hole Configuration Sync Service
After=network.target

[Service]
ExecStart=/usr/local/bin/nebula-sync
WorkingDirectory=/home/deploy/.config/nebula
Restart=always
User=deploy
Group=deploy
Environment="GO_LOG=info"
StandardOutput=append:/var/log/pihole-sync.log
StandardError=append:/var/log/pihole-sync.err.log

[Install]
WantedBy=multi-user.target